<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.justdive.academy">

  <application android:label="JUSTDIVE Academy">
    <receiver
      android:name="com.reactnativeandroidwidget.RNWidgetReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/weather_widget_info" />
    </receiver>
  </application>
</manifest>
